In [1]:
import pandas as pd
import numpy as np
import time
import difflib
#!pip install py-stringmatching
import py_stringmatching as sm 
from py_stringmatching.similarity_measure import cosine as cos

bring in banned book infoimport time

In [2]:
bannedBooks = pd.read_excel('banned book data/bannedBooks.xlsx', header=[2], \
                           usecols=['Author', 'Title', 'Type of Ban', 'State','District'])

In [3]:
bannedBooks.columns

Index(['Author', 'Title', 'Type of Ban', 'State', 'District'], dtype='object')

In [4]:
len(bannedBooks)

2532

In [5]:
stateCode = pd.read_csv('stateCode/state_abbrev.csv')

Link banned book districts to finances

In [6]:
q3_token = sm.QgramTokenizer(qval=3)
cosine = cos.Cosine()

In [7]:
sparcebanned = bannedBooks[['District', 'State']].drop_duplicates()

In [8]:
finances = pd.read_csv('school district finances/districts.csv')

In [9]:
finances = finances.sort_values(by = ['NAME', 'STATE', 'YRDATA'],\
                     ascending = [True, True, False],\
                     na_position = 'last')
finances = finances.drop_duplicates(subset=['NAME', 'STATE'], keep='first')

In [10]:
finances['name_lower'] = finances['NAME'].str.lower()
sparcebanned['district_lower'] = sparcebanned['District'].str.lower()

In [11]:
matches = []
startTime = time.time()
for idx in range(len(sparcebanned)):
    state = sparcebanned.iloc[idx]['State']
    district = str(sparcebanned.iloc[idx]['district_lower'])
    distSparced = district.replace('county', '')
    distSparced = district.replace('schools', '')
    distSparced = district.replace('school', '')    
    distSparced = district.replace('district', '')
    districtToken = q3_token.tokenize(distSparced)
    
    matchFound = ''
    stateFinances = finances[finances['STATE'] == state]
    for finIdx in range(len(stateFinances)):         
        district2 = str(stateFinances.iloc[finIdx]['name_lower'])
        dist2Sparced = district2.replace('county', '')
        dist2Sparced = district2.replace('schools', '')
        dist2Sparced = district2.replace('school', '')
        dist2Sparced = district2.replace('district', '')
        q3TokenSample = q3_token.tokenize(dist2Sparced)
        cosScoreQ3 = cosine.get_sim_score(districtToken, q3TokenSample)
        if(cosScoreQ3 > .68):
            matchFound = district2            
            break

    matches.append([district, state, matchFound])

endTime = time.time()
print(endTime-startTime)

6.340503931045532

In [12]:
matchesDf = pd.DataFrame(matches, columns=['bookDistrict', 'State', 'financeDistrict'])

In [13]:
matchesDf.to_csv('savedData/financeDistrictInfo.csv')

In [14]:
matchesDf

,bookDistrict,State,financeDistrict
0,indian river county school district,Florida,indian river county school district
1,central york school district,Pennsylvania,central valley school district
2,marlboro central school district,New York,marathon central school district
3,fredericksburg independent school district,Texas,fredericksburg ind sch district
4,new kent county public schools,Virginia,
...,...,...,...
133,monett r-1 school district,Missouri,
134,haywood county schools,North Carolina,
135,lake county schools,Florida,lake county school district
136,rowva cusd 208,Illinois,
137,lower township elementary school district,New Jersey,

In [15]:
len([x for x in matchesDf['financeDistrict'] if x == ''])

38

In [16]:
sparcebanned = sparcebanned.merge(matchesDf, left_on=['district_lower', 'State'], \
                                  right_on=['bookDistrict', 'State'], how='left')
print(sparcebanned['bookDistrict'].isna().sum())

0

In [17]:
sparcebanned = sparcebanned.merge(finances, left_on=['financeDistrict', 'State'],\
                                  right_on=['name_lower', 'STATE'], how='left')
print(sparcebanned['name_lower'].isna().sum())

38

In [18]:
sparcebanned = sparcebanned.drop(['district_lower', 'bookDistrict'], axis=1)

In [20]:
sparcebanned.head()

,District,State,financeDistrict,STATE,ENROLL,NAME,YRDATA,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT,name_lower
0,Indian River County School District,Florida,indian river county school district,Florida,17984.0,INDIAN RIVER COUNTY SCHOOL DISTRICT,2016.0,187800.0,17283.0,42202.0,128315.0,194975.0,95945.0,57457.0,8664.0,26437.0,indian river county school district
1,Central York School District,Pennsylvania,central valley school district,Pennsylvania,2277.0,CENTRAL VALLEY SCHOOL DISTRICT,2016.0,33348.0,747.0,14624.0,17977.0,33968.0,20585.0,10164.0,1045.0,505.0,central valley school district
2,Marlboro Central School District,New York,marathon central school district,New York,768.0,MARATHON CENTRAL SCHOOL DISTRICT,2016.0,16449.0,783.0,11913.0,3753.0,20005.0,10243.0,3965.0,395.0,4749.0,marathon central school district
3,Fredericksburg Independent School District,Texas,fredericksburg ind sch district,Texas,2790.0,FREDERICKSBURG IND SCH DISTRICT,1996.0,15149.0,953.0,5056.0,9140.0,16589.0,7740.0,4511.0,905.0,2668.0,fredericksburg ind sch district
4,New Kent County Public Schools,Virginia,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Get Book Categories

In [21]:
bookRepo = pd.read_csv('book repository/dataset.csv')
authorRepo = pd.read_csv('book repository/authors.csv')

In [26]:
len(bookRepo)

1109383

In [22]:
sparceBooks = bannedBooks[['Author', 'Title']].drop_duplicates()

In [24]:
sparceBooks

,Author,Title
0,"Àbíké-Íyímídé, Faridah",Ace of Spades
1,"Acevedo, Elizabeth",Clap When You Land
2,"Acevedo, Elizabeth",The Poet X
6,"Aciman, André",Call Me By Your Name (Call Me By Your Name Ser...
7,"Acito, Marc","How I Paid for College: A Novel of Sex, Theft,..."
...,...,...
2527,"Zia, Farhana",The Garden of My Imaan
2528,"Ziemke, Kristin",Read the World: Rethinking Literacy for Empath...
2529,"Zoboi, Ibi",American Street
2530,"Zoboi, Ibi",Black Enough: Stories of Being Young & Black i...
2531,"Zunon, Elizabeth","Grandpa Cacao: A Tale of Chocolate, from Farm ..."

In [27]:
matches = []
startTime = time.time()
for idx in range(len(sparceBooks)):
    author = str(sparceBooks.iloc[idx]['Author']).lower()
    title = str(sparceBooks.iloc[idx]['Title'])    
    titleToken = q3_token.tokenize(title)
    
    authorid = authorRepo[authorRepo['author_name'].lower() == author][0]['author_id']
    
    matchFound = ''
    repoAuthor = bookRepo[bookRepo['Author'].lower() == author]
    for repoIdx in range(len(repoAuthor)):         
        repoTitle = str(repoAuthor.iloc[repoIdx]['Title'])        
        repoToken = q3_token.tokenize(repoTitle)
        cosScoreQ3 = cosine.get_sim_score(titleToken, repoToken)
        if(cosScoreQ3 > .68):
            matchFound = repoTitle            
            break

    matches.append([author, title, repoTitle])

endTime = time.time()
print(endTime-startTime)

KeyError: 'Author'

In [ ]:
bookRepo
subsetBookRepo = bookRepo[bookRepo['category']

bookDistrict = sparcebanned['District'].str.cat(sparcebanned['State'], sep='; ').iloc[:6]
countyDistrict = sparceCountyInfo['District'].str.cat(sparceCountyInfo['State_y'], sep='; ')

In [ ]:
bannedCounty

In [ ]:
bookCounty = bannedBooks.merge(countyInfo, on='District', how='left')

In [ ]:
bookCounty['County'].isna().sum()

strip unnecessary columns from banned books

In [ ]:
columnsToKeep = ['Author', 'Title', 'Type of Ban', 'State', 'District']
bannedBooks = bannedBooks[columnsToKeep]

connect book info to banned book info

In [ ]:
bannedBookWithInfo = bannedBooks.merge(bookRepo, left_on='Title', right_on='title', how='left')

In [ ]:
bannedBookWithInfo.columns

In [ ]:
bannedBookWithInfo.head()

In [ ]:
otherdata = pd.read_csv('School District Info/schoolDistrictTopLevelInfo.csv')

In [ ]:
bookRepFinance = bannedBookWithInfo.merge(finances, left_on='district_lower', right_on='name_lower', how='left')

In [ ]:
bookRepFinance.isna().sum()

def getMatch(list1, list2, threshold = .7):    
    matches = []
    for str1 in list1:        
        strMatches = []
        for str2 in list2:            
            temp = difflib.SequenceMatcher(None,str1 ,str2)
            if(temp.ratio() > threshold):
                strMatches.append(str2)
        matches.append([str1, strMatches])
        
    return matches;

startTime = time.time()
titleMatches = getMatch(bookTitles, repoTitle, .7)
endTime = time.time()
print(endTime - startTime)

def getCountyDistrictSimliarMatches(list1, list2, threshold = .7):    
    matches = []
    for str1 in list1:
        str1 = str(str1)
        str1Token = q3_token.tokenize(str1)
        strMatches = []
        for str2 in list2:  
            str2 = str(str2)
            q3TokenSample = q3_token.tokenize(str2)
            cosScoreQ3 = cosine.get_sim_score(str1Token, q3TokenSample)
            print(cosScoreQ3)
            if(cosScoreQ3 > threshold):
                strMatches = str2
                break
                
        matches.append([str1, strMatches])
        
    return matches;

repoTitle = list(set([str(x) for x in bookRepo['title']]))
bookTitles = list(set([str(x) for x in bannedBooks['Title']]))
q3_token = sm.QgramTokenizer(qval=3)
cosine = cos.Cosine()

def getSimliarMatches(list1, list2, threshold = .7):    
    matches = []
    for str1 in list1:
        str1Token = q3_token.tokenize(str1)
        strMatches = []
        for str2 in list2:            
            q3TokenSample = q3_token.tokenize(str2)
            cosScoreQ3 = cosine.get_sim_score(str1Token, q3TokenSample)
            if(cosScoreQ3 < threshold):
                strMatches.append(str2)
        matches.append([str1, strMatches])
        
    return matches;

startTime = time.time()
titleMatches = getSimliarMatches(bookTitles, repoTitle, .7)
endTime = time.time()
print(endTime - startTime)

matches = bannedBooks['Title'].apply(lambda x: process.extract(x, repoTitle, limit=2))    
matches.head()

matches = bannedBooks['Title'].apply(lambda x: process.extract(x, repoTitle, limit=2))    
bannedBooks['matches'] = matches

m2 = bannedBooks['matches'].apply(lambda x: ', '.join([i[0] for i in x if i[1] >= threshold]))
bannedBooks['matches'] = m2

In [ ]:
otherdata

both datasources have LEAID thank the fuck